[Unit]
Description=Start a backup when someone asks for one in the app

[Timer]
OnCalendar=*:0/2
Persistent=false
Unit=billing-job@backup-requests.service

[Install]
WantedBy=timers.target
